<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <h2>
        Welcome
      </h2>
      <div class="container">
        <a href="/new" class="add-message">Add new message</a>
        <div class="messages">
          <% if (locals.messages) { %>
            <ul class="messages-list">
              <% for (let message of locals.messages) { %>
                <li class="message-item">
                  <span class="message-timestamp">
                    <em>
                      <%=
                        message.added.toLocaleDateString('en',
                          {
                            day: 'numeric',
                            month: 'short',
                            year: 'numeric',
                          }
                        )
                      %>
                    </em>
                  </span>
                  <span><strong><%= message.user %> says:&nbsp;</strong></span>
                  <span><%= message.text%></span>  
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <p>No messages to view!</p>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
