<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <h2>
        Welcome to <%= title %>
      </h2>
      <% if (locals.messages) {%>
        <ul>
          <%for (let message of locals.messages) { %>
            <li>
              <h3><%= message.text%></h3>
              <p>by, <%= message.user %></p>
              <p>
                <%= 
                  message.added.toLocaleDateString('en', 
                    {
                      day: 'numeric',
                      month: 'short',
                      year: 'numeric',
                    } 
                  )
                %>
              </p>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <p>No messages to view!</p>
      <% } %>
      <p><a href="/new">Click here</a> to add a new message.</p>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
